*{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000000;
}

.icons{
  display: flex;
  --email-primary: #ffd200;
  --email-secondary: #ffd617;
  --linkedin-primary: #2867B2;
  --linkedin-secondary: #2a6cbb;
  --instagram-primary: #C13584;
  --instagram-secondary: #C7478F;
  --github-primary: #8a2be2;
  --github-secondary: #953ee5;
  --troylabs-primary: #EE3A20;
  --troylabs-secondary: #F04C34;
  --spotify-primary: #1DB954;
  --spotify-secondary: #32BF64;
}

.icons a{
  text-decoration: none;
  position: absolute;
  display: block;
  color: #bbb;
  font-size: 30px;
  height: 60px;
  width: 60px;
  background: #ffffff;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;

  transform: translate(-235%,-220%);
  box-shadow: 0 0 10px #fff;
  text-shadow: 0 0 10px #fff;
}
.icons a::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /*background: #d35400;*/
  border-radius: 50%;
  transform: scale(.9);
  z-index: -10;
  transition: .5s;

  background: #fff;
  box-shadow: 0 0 15px #fff;
}
.icons a:hover::before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
.icons .mail:hover::before{
  background: var(--email-primary);
  box-shadow: 0 0 15px var(--email-primary);
}
.icons .linkedin:hover::before{
  background: var(--linkedin-primary);
  box-shadow: 0 0 15px var(--linkedin-primary);
}
.icons .instagram:hover::before{
  background: var(--instagram-primary);
  box-shadow: 0 0 15px var(--instagram-primary);
}
.icons .github:hover::before{
  background: var(--github-primary);
  box-shadow: 0 0 15px var(--github-primary);
}
.icons .troylabs:hover::before{
  background: var(--troylabs-primary);
  box-shadow: 0 0 15px var(--troylabs-primary);
}
.icons .spotify:hover::before{
  box-shadow: 0 0 15px var(--spotify-primary);
  background: var(--spotify-primary);
}
.icons .mail:hover{
  color: var(--email-secondary);
  box-shadow: 0 0 15px var(--email-primary);
  text-shadow: 0 0 15px var(--email-primary);
}
.icons .linkedin:hover{
  color: var(--linkedin-secondary);
  box-shadow: 0 0 15px var(--linkedin-primary);
  text-shadow: 0 0 15px var(--linkedin-primary);
}
.icons .instagram:hover{
  color: var(--instagram-secondary);
  box-shadow: 0 0 15px var(--instagram-primary);
  text-shadow: 0 0 15px var(--instagram-primary);
}
.icons .github:hover{
  color: var(--github-secondary);
  box-shadow: 0 0 15px var(--github-primary);
  text-shadow: 0 0 15px var(--github-primary);
}
.icons .troylabs:hover{
  color: var(--troylabs-secondary);
  box-shadow: 0 0 15px var(--troylabs-primary);
  text-shadow: 0 0 15px var(--troylabs-primary);
}
.icons .spotify:hover{
  color: var(--spotify-secondary);
  box-shadow: 0 0 15px var(--spotify-primary);
  text-shadow: 0 0 15px var(--spotify-primary);
}

nav {
  position: relative;
  z-index: 20
}

img {
  height: 200px;
  width: 200px;
  display: inline-block;
  z-index: 10;
}

.icons a {
  position: absolute;
}

svg {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
